body {
    position: relative;
    margin: auto;
    text-decoration: none;
    list-style: none;
    background-color: #2e2e2e;
}

.angle {
    position: relative;
    font-size: 40px;
    color: white;
}

.viewed-anime-img {
    max-width :  50%; 
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
}

.viewed-anime-img li {
    margin-bottom: 200px;
}

.p-anime {
    border-radius: 0 50px 50px 0;
    background-color: white;
    min-width: 20%;
    max-width: 20%;
    font-size: 30px;
    text-align: center;
}

.p-anime a {
    color: #2e2e2e;
}

.p-top-anime {
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
}

.anime-img {
    width: 200px;
    height: 300px;
}

.name-anime {
    margin-top: -20%;
    margin-left: 10px;
    color: black;
}

#footer {
    position: relative; 
    display: flex;
    align-items: center;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 50px;
    background-color: #1D1D1D;
}

#footer a {
    font-size: 20px;
    color: white;
    margin-left: 5%;
}