#footer {
    display: flex;
    align-items: center;
    height: 50px;
    max-height: 50px;
    min-height: 50px;
    background-color: #1D1D1D;
}

#footer a {
    font-size: 20px;
    color: white;
    margin-left: 5%;
}