main{
    margin-top: 100px;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 0.4fr repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .anime_img { grid-area: 1 / 1 / 3 / 2; }
    .anime_score { grid-area: 1 / 2 / 2 / 6; }
    .anime_info { grid-area: 3 / 1 / 7 / 2; }
    .anime_sysnopsis { grid-area: 3 / 2 / 4 / 6; }
    .anime_charac { grid-area: 4 / 2 / 7 / 6; }

.parent>div{
    font-family: 'Roboto', sans-serif;
    padding: 1%;
    background: #353535;
    border-radius: 7px;
    border-bottom: solid 2px #404040;
    border-left : solid 2px #404040;
}

.area_tittle{
    border-bottom : solid 2px #5271FF;
    color: white;
}

.area_tittle_info{
    border-bottom : solid 2px #FF66C4;
    color: white;
}

.anime_image{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}