main{
    margin-top: 100px;
}

.profile_manga_grid{
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    }
    .manga_img { grid-area: 1 / 1 / 3 / 2; }
    .manga_score { grid-area: 1 / 2 / 2 / 6; }
    .manga_info { grid-area: 3 / 1 / 5 / 2; }
    .manga_synopsis { grid-area: 2 / 2 / 4 / 6; }
    .manga_character { grid-area: 4 / 2 / 5 / 6; }

.profile_manga_grid>div{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 1%;
}

.manga_crow_data, .manga_score, .manga_info, .manga_synopsis, .manga_character{
    background: #353535;
    border-bottom: solid 2px #404040;
    border-left : solid 2px #404040;
    border-radius: 7px;
}

.area_title{
    border-bottom : solid 2px #5271FF;
    color: white;
}

.area_title_info{
    border-bottom : solid 2px #FF66C4;
    color: white;
}

.manga_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.manga_image{
    width: 220px;
    height: 320px;
    border-radius: 7px;
    overflow: hidden;
}

.crow_data_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .score { grid-area: 1 / 1 / 2 / 2; }
    .member { grid-area: 1 / 2 / 2 / 3; }

.manga_crow_data{
    width: 397%;
}

.crow_data_grid>div {
    font-size: 16px;
}

.crow_data_score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height:130px;
}

.crow_data_score_content{
    padding: 12px;
    background-color: #5271FF;
    border-radius: 7px;
    overflow: hidden;
}

.crow_data_score>div{
    text-align: center;
}

.crow_data_score_num{
    margin-top: 3px;
    font-size: 14px;
}

.crow_data_member{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.manga_synopsis>p{
    color: #cccccc;
    font-size: 20px;
}

.manga_info_content>div{
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.manga_user_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.manga_user_input>div{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 1%;
    background: #353535;
    border-radius: 7px;
    color: #cccccc;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
}

.manga_note_content{
    text-align:left;
    border-bottom : solid 2px #5271FF;
    color: white;
}

.manga_ajout{
    text-align: center;
}

.manga_ajout:hover{
    color: #5271FF;
    cursor: pointer;
}

#note{
    width: 300px;
    margin-left: 100px;
    margin-right: 30px;
}

#note:hover{
    cursor: pointer;
}

#note_submit{
    font-family: 'Roboto', sans-serif;
    float: right;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px

}

#note_submit:hover{
    cursor: pointer;
    color: #cecece;
}

#manga_ajout_button{
    border: none;
    background: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#manga_ajout_button:hover{
    cursor: pointer;
    color: #cecece;
}

.manga_add_charac{
    float: right;
    font-size: 18px;
    color: #ffffff;
}

.manga_add_charac:hover{
    cursor: pointer;
    color: #cecece;
}

.modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal:target{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    background-color: #000000a1;
}

.modal_content{
    background-color: #1d1d1d;
    padding: 4em 4em;
    width: 500px;
    max-width: 90%;
    border-radius: 7px;
    position: relative;
    border: solid 1px white;
}

.modal_title{
    color:#fff;
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    flex-direction: row;
}

.modal_button{
    color: #fff;
    background-color: #404040;
    font-size: 18px;
    padding: 10px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 6px;
    border: none;
    border-left: solid 2px #FF66C4;
}

.modal_button:hover{
    cursor: pointer;
    color: #FF66C4;
}

.modal_close{
    position: absolute;
    right: 15px;
    top: 15px;
    text-decoration: none;
    color: #fff;
}

.charac_all-search-bar {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.charac_button-search, .charac_button-search > i {
    cursor: pointer;
    font-size: 25px;
}

.charac_button-search {
    padding: -5px;
    margin-left: -20px;
    background: none;
    border: none;
}

.charac_search-bar {
    outline: none;
    border: 4px solid #1d1d1d;
    font-size: 25px;
    height: 35px;
    width: 350px;
    border-radius: 15px 15px 15px 15px;
}

.charac_search-bar::placeholder {
    padding-left: 20px;
}

.manga_characs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.manga_charac{
    margin: 5px;
    height: 126px;
    width: 65px; 
}

.manga_charac_img{
    height: 100px;
}

.manga_charac_name{
    font-size: 12px;
    text-align: center;
}

@media only screen and (max-width: 1250px) {
    .profile_manga_grid{
        display: flex;
        flex-direction: column;
    }
    .manga_user_input{
        display: flex;
        flex-direction: column;
    }
    .profile_manga_grid>div{
        width: auto;
    }
}