main{
    margin-top: 100px;
    height: 100vh;
}

.profile_anime_grid{
    display: grid;
    grid-template-columns: 0.7fr repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .anime_img { grid-area: 1 / 1 / 3 / 2; }
    .anime_score { grid-area: 1 / 2 / 2 / 6; }
    .anime_info { grid-area: 3 / 1 / 5 / 2; }
    .anime_synopsis { grid-area: 2 / 2 / 4 / 6; }
    .anime_charac { grid-area: 4 / 2 / 5 / 6; }

.profile_anime_grid>div{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 1%;
    background: #353535;
    border-radius: 7px;
    border-bottom: solid 2px #404040;
    border-left : solid 2px #404040;
}

.area_title{
    border-bottom : solid 2px #5271FF;
    color: white;
}

.area_title_info{
    border-bottom : solid 2px #FF66C4;
    color: white;
}

.anime_img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime_image{
    width: 220px;
    height: 320px;
    border-radius: 7px;
    overflow: hidden;
}

.crow_data_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .score { grid-area: 1 / 1 / 2 / 2; }
    .member { grid-area: 1 / 2 / 2 / 3; }

.anime_crow_data{
    width: 397%;
}

.crow_data_grid>div {
    font-size: 16px;
}

.crow_data_score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height:130px;
}

.crow_data_score_content{
    padding: 12px;
    background-color: #5271FF;
    border-radius: 7px;
    overflow: hidden;
}

.crow_data_score>div{
    text-align: center;
}

.crow_data_score_num{
    margin-top: 3px;
    font-size: 14px;
}

.crow_data_member{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.anime_synopsis>p{
    color: #cccccc;
    font-size: 20px;
}

.anime_info_content>div{
    margin-top: 20px;
    font-size: 15px;
    color: white;
}

.anime_user_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.anime_user_input>div{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 1%;
    background: #353535;
    border-radius: 7px;
    color: #cccccc;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #404040;
}

.anime_note_content{
    text-align:left;
    border-bottom : solid 2px #5271FF;
    color: white;
}

.anime_ajout{
    text-align: center;
}

.anime_ajout:hover{
    color: #5271FF;
    cursor: pointer;
}

#note{
    width: 300px;
    margin-left: 175px;
    margin-right: 30px;
}

#note:hover{
    cursor: pointer;
}

#note_submit{
    font-family: 'Roboto', sans-serif;
    float: right;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px

}

#note_submit:hover{
    cursor: pointer;
    color: #cecece;
}

#anime_ajout_button{
    border: none;
    background: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

#anime_ajout_button:hover{
    cursor: pointer;
    color: #cecece;
}
