.list-top-name {
    width: 400px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border: solid 2px #5271FF;
    border-left: none;
}

.list-top-name-p {
    text-shadow: 1px 1px 2px black;
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: all 0.1s;
}
