@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Roboto:wght@500&family=Rock+Salt&display=swap');

.sort{
    background-color: #353535;
    width: 100%;
    height: 120px;
    padding-top:1%;
}

.sort-by{
    background-color: #1D1D1D;
    margin-top: .8%;
    padding: 5px;
    margin-left: 31%;
    margin-right: 33%;
    border-radius: 5px;
}

.sort-by-alphabet{
    margin-top: 7px; margin-bottom: 7px;
    display:flex;
}

.sort-by-alphabet>a{
    background-color: #525252;
    border-radius: 5px;
    padding: .3%;
    padding-left: .4%;padding-right: .4%;
    font-size: 20px;
    margin-left: 10px;margin-right: 10px;   
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.sort-by-alphabet>a:hover{
    cursor: pointer;
    color: #1D1D1D;;
}

.list{
    border-top: 3px solid #1D1D1D;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #353535;
}

.list-container{
    width: 95%;
    margin: auto;
    position: relative;
    background-color: #1D1D1D;
    border-radius: 8px;
}

.list-items{
    padding: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
}

.list-item{
    width: 15%;
    margin: 40px;
    height: 250px;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    padding: 20px;
    cursor: pointer;
    background-color: #848484;
}

.list-item-desc{
    font-family: 'Roboto', sans-serif;
    color: white;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transform: translateY(100%);
}

.list-item:hover .list-item-desc{
    transform: translateY(0);
}

.list-item:hover .list-item-filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background: linear-gradient(rgb(0, 0, 0, 0.1),rgb(0,0,0,0.4));
}

#footer { 
    display: flex;
    align-items: center;
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 50px;
    background-color: #1D1D1D;
}

#footer a {
    font-size: 20px;
    color: white;
    margin-left: 5%;
}