body {
    position: relative;
    display: grid;
    margin: auto;
    text-decoration: none;
    list-style-type:none;
    grid-template-columns: .8fr .2fr;
    grid-template-rows: .2fr .8fr;
    background-color: #2e2e2e;
    grid-template-areas: "header header"
                         "sl sr";
}

.section-left {
    grid-area: sl;
}

.section-right {
    grid-area: sr;
}

.news {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-news {
    position: relative;
    width: 100vh;
    height: 60vh;
    border-radius: 10px;
}

.news-space-right {
    grid-area: nsr;
}

.angle {
    position: relative;
    font-size: 40px;
    color: white;
}

.season-anime-img {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(222px, 1fr));
}

.anime {
    margin-bottom: 100px;
}

.p-anime {
    border-radius: 0 50px 50px 0;
    background-color: white;
    max-width: 20%;
    min-width: 20%;
    font-size: 30px;
    text-align: center;
}

.p-anime a {
    color: #2e2e2e;
}

.p-top-anime {
    margin-left: 20px;
    margin-top: 30%;
    font-size: 25px;
    text-align: center;
}

.anime-img {
    width: 200px;
    height: 300px;
}

.name-anime {
    margin-top: -20%;
    margin-left: 10px;
    color: black;
}

.div-top-anime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ol-top-anime {
    width: 90%;
    height: auto;
    padding: 20px;
    padding-right: 0px;
}

.ol-top-anime li {
    background-color: gray;
    border-radius: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: .1fr .4fr .5fr;
    grid-template-rows: .5fr .25fr .25fr;
    grid-template-areas: "tp ti na" 
                         "tp ti sc" 
                         "tp ti mb" ;
}

.top-number {
    margin: auto;
    font-size: 40px;
    text-align: center;
    grid-area: tp;
} 

.top-img {
    margin: auto;
    grid-area: ti;
}

.scored {
    grid-area: sc;
}

.members {
    grid-area: mb;
}

.na {
    margin-top: 0px;
    grid-area: na;
}

.na, .scored, .members {
    text-align: center;
    margin-left: 20px;
}

.ol-top-anime li a img{
    width: 100px;
    height: 120px;
}

@media screen and (max-width: 1300px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: .2fr .6fr .2fr;
        grid-template-areas: "header"
                             "sl" 
                             "sr";
    }

    .ol-top-anime {
        width: auto;
        min-width: 40%;
    }

    .p-top-anime {
        margin-top: 0%;
    }

}

@media screen and (max-width: 870px) {

    .news {
        display: none;
    }

    .p  -anime {
        margin-top: 10%;
    }

}